/* Universal box sizing */
* {
    box-sizing: border-box;
    margin: 0;
}
/* Style the header */
.header {
    background-color:rgb(52, 156, 52);
    font-size: 5vw;
    text-align: center;
    padding: 0.5vw;
}
/* Style the top navigation bar */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
/* Floats the links so they are beside each other to the left */
ul.topnav li {
    float: left;
}
/* Styling the links of the nav bar */
ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* Changing background color on hover and/or active */
ul.topnav li a:hover:not(.active) {
    background-color: #111;
}
ul.topnav li a.active {
    background-color:rgb(52, 156, 52)
}
/* Overwritten in columns but used for contact us page */
.main {
    text-align: center;
    padding: 0.5vw;
    font-size: 2vw;
}
/* adding scaling to images for different screens */
img {
    max-width: 100%;
    height: auto;
}
/* Create two equal columns that float next to each other */
.column {
    float: left;
    width: 50%;
    padding: 15px;
    font-size: 3vw;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
/* Adding scaling to the embed google services */
.iframe{
    max-width: 100%;
    max-height: auto;
}
.footer {
    background-color: rgb(52, 156, 52);
    text-align: center;
    padding: 0.5vw;
    font-size: 3vw;
}
/* Columns stack instead of being next to each other depending on screen width and adjusting font size for smaller screens*/
@media screen and (max-width:800px) {
    ul.topnav li {
        float: none;
    }
    .column {
        font-size: 6vw;
        width: 100%;
    }
    .footer{
        font-size: 4vw;
    }
}