/* Universal box sizing */
* {
    box-sizing: border-box;
}
/* Style the header */
.header {
    background-color:rgb(57, 122, 57);
    font-size: 5vw;
    text-align: center;
    padding: 0.5vw;
}
/* Style the top navigation bar */
.topnav {
    text-align: center;
    overflow: hidden;
    background-color: rgb(104, 97, 97);
    font-size: 3vw;
}
/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 1.5vw 1vw;
}
/* Overwritten in columns but used for contact us page */
.main {
    text-align: center;
    padding: 0.5vw;
    font-size: 2vw;
}
/* adding scaling to images for different screens */
img {
    max-width: 100%;
    height: auto;
  }
/* Create two equal columns that float next to each other */
.column {
    float: left;
    width: 50%;
    padding: 15px;
    font-size: 3vw;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
/* Adding scaling to the embed google services */
.iframe{
    max-width: 100%;
    max-height: auto;
}
/* Columns stack instead of being next to each other depending on screen width and adjusting font size for smaller screens*/
@media screen and (max-width:800px) {
    .column {
        font-size: 6vw;
        width: 100%;
    }
    .topnav{
        font-size: 6vw;
    }
    .footer{
        font-size: 6vw;
    }

}
.footer {
    background-color: rgb(11, 121, 47);
    text-align: center;
    padding: 0.5vw;
    font-size: 2vw;
}